.redrText {
 color : #ff0000;
}
.greenTest {
    color : #09BB07;
}

.weui_mine_icon {
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 0.555rem;
}
.grid:before {
    border:0;
}
.i_one {
    float: left;
    width:1.6667rem;
    height: 1.5926rem;
    background: url("../images/wx_i.png");
    background-size: 1.6667rem 1.5926rem;
}
.weui_leftIcon {
    width:5.11rem;
    height: 100%;
    float: left;
}
.weui_centerArea {
    width:76%;
    height: 100%;
    float: left;
}
.weui_rightIcon {
    width:5.11rem;
    height:100%;
    float: left;
}
.i_leftIcon {
    float: left;
    width:2.223rem;
    height: 2.123rem;
    background: url("../images/left.png");
    background-size: 2.223rem 2.123rem;
    margin-top: 1.888rem;
    margin-left: 0.211rem;
}
.i_rightIcon {
    float: left;
    width:2.223rem;
    height: 2.123rem;
    background: url("../images/right.png");
    background-size: 2.223rem 2.123rem;
    margin-top: 1.888rem;
    margin-right: 0.211rem;
}
.forwordPlanFirst {
    width:80%;
    height: 90%;
    border:1px solid #04BE02;
    float: left;
    margin-left: 0.888rem;
    text-align: center;
    color: #04BE02;
}
.forwordPlan {
    width:80%;
    height: 90%;
    border:1px solid #d9d9d9;
    float: left;
    margin-left: 0.888rem;
    text-align: center;
    color: #888;
}
.forwordPlan_temp{
    width:100%;
    height: 50%;
    padding-top: 0.555rem;
}
.forwordPlan_tempc{
    width:100%;
    height: 50%;
    padding-top: 0.555rem;
    border-top: 1px solid #d9d9d9;
}
.forwordPlan_tempd{
    width:100%;
    height: 50%;
    padding-top: 0.555rem;
    border-top: 1px solid #04BE02;
}
.font_color {
    color: #04BE02;
}
.weui_send_bd{
    width: 80%;
    height: 6.33rem;
    float: left;
    text-align: center;
    font-size: 14px;
}
.weui_notSend{
    background: #d9d9d9;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 3.44rem;
    height: 3.44rem;
    line-height: 3.44rem;
    margin: 0.444rem auto;
}
.weui_sended{
    background: #04BE02;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    width: 3.44rem;
    height: 3.44rem;
    line-height: 3.44rem;
    margin: 0.444rem auto;
}
.weui_timeChange{
    width: 10%;height: 6.33rem;float: left;font-size: 50px;
    color: #888;text-align: center;
}
.weui_text{
    margin-left: 0.789rem;
}
.weui-cell:before{
    left :0px;
    border-top: 0;
}
.weui_sku_spanFirst{
    width: 30%;
    height: 38px;
    border: 1px solid #d9d9d9;
    float: left;
    text-align: center;
    line-height:37px;
    margin-top: 0.44rem;
}

.weui_sku_span{
    width: 30%;
    height: 38px;
    border: 1px solid #d9d9d9;
    float: left;
    margin-left:0.888rem;
    text-align: center;
    line-height:37px;
    margin-top: 0.44rem;
}
.weui_sku_spanActive{
    background-color: #04BE02;
    color: #FFFFFF;
}
.weui_panel_hd:after{
    border:0;
}
.weui_bottomBtn{
    position: fixed;
    width:100%;
    height:3.33rem;
    bottom:0;
    background-color: #FFFFFF;

}
.weui_bottomBtn>div{
    width: 50%;height: 3.33rem;float: left;text-align: center;line-height: 3.33rem;
    color: #FFFFFF;font-size: 18px;background-color: #04BE02;
}
.weui_publish{
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 34px;
    position: absolute;
    right: 0;
    color: #0d0d0d;
    border-left:1px solid #d9d9d9;
}
.toggleAction{
    position: absolute;
    right:0;
}
.text-box {
    width:100%;
}

.clearFix:after { content:"."; display:block; height:0; clear:both; visibility:hidden}
.clearFix { *height:1%;}
.comment-list {background: rgb(247, 247, 247);}
.comment-box {border-top: 1px solid #eee; width: 100%;}
.comment-box:hover { background: rgb(247, 247, 247);}
.comment-box .comment-content { float: left; width: 100%;padding-left: 5px;font-size: 14px;min-height: 25px;line-height: 25px;}
.comment-box .comment-content .comment-time { color: #ccc; position: relative;}
.comment-box .comment-content .comment-operate { display: none; color: #369;position: absolute; bottom: 0; right: 10px;font-size: 14px;}
.comment-box .comment-content:hover .comment-praise { display: inline-block;}
.comment-box .comment-content:hover .comment-operate { display: inline-block;}
.user { color: #369; }
.nickname{font-size: 14px;}
.text-box{display: none;}
.text-box .comment { border: 1px solid #eee; display: block; height: 32px; padding: 5px; resize: none; color: #ccc;width:100%;}
.text-box .btn { font-size: 13px; display: none; float: right; width: 75px; height: 35px; color: #fff; background: #04BE02; text-align: center;line-height: 35px;}
.text-box .btn-off { border: 1px solid #ccc; color: #ccc; background: #F7F7F7;}
.text-box .word{ display: none; float: right; margin: 7px 9px 0 0; color: #666; font-size: 13px;}
.text-box-on .comment{ height: 50px; color: #333;}
.text-box-on .btn{ display: inline;}
.text-box-on .word{ display: inline;}

.publishHead{
    height:44px;width: 100%;line-height: 44px;font-size: 16px;text-align: center;margin-top: 0;background-color: #eee;border-bottom: 1px solid #d9d9d9;
}
.tagSelect{
    min-width:4.66rem;
    height:2.00rem;
    line-height: 2.00rem;
    border:1px solid #d9d9d9;
    float: left;
    margin-right: 10px;
    border-radius: 0.13rem;
}
.tagSelectActive{
    border:1px solid #04BE02;
    color: #04BE02;
}

.weui_panel:before{
    top:0;
    -webkit-transform-origin:0 0;
    transform-origin: 0 0;
    border: 0;
}
.weui_cells:before {
    top: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    border-top: 0;
}
.scrollArea{
    transform: translateY(-50px);
}

.weui-pull-to-refresh {
    position: fixed;
    left: 0;
    width: calc(100vw - 2px);
    height: 100%;
    padding-bottom: 14%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #FFFFFF;
}

.weui-pull-to-refresh.touching {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.weui-pull-to-refresh-layer {
    height: 30px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}
.weui-pull-to-refresh-layer .down {
    display: inline-block;
}
.weui-pull-to-refresh-layer .up,
.weui-pull-to-refresh-layer .refresh {
    display: none;
}
.weui-pull-to-refresh-layer .pull-to-refresh-arrow {
    display: inline-block;
    z-index: 10;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: -4px;
    background: no-repeat center;
    background-size: 13px 20px;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2026%2040'%3E%3Cpolygon%20points%3D'9%2C22%209%2C0%2017%2C0%2017%2C22%2026%2C22%2013.5%2C40%200%2C22'%20fill%3D'%238c8c8c'%2F%3E%3C%2Fsvg%3E");
}
.weui-pull-to-refresh-layer .pull-to-refresh-preloader {
    display: none;
    vertical-align: -4px;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: preloader-spin 1s steps(12, end) infinite;
    animation: preloader-spin 1s steps(12, end) infinite;
}
.weui-pull-to-refresh-layer .pull-to-refresh-preloader:after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}
.pull-up .weui-pull-to-refresh-layer .down,
.refreshing .weui-pull-to-refresh-layer .down {
    display: none;
}
.pull-up .weui-pull-to-refresh-layer .pull-to-refresh-arrow {
    display: inline-block;
    -webkit-transform: rotate(180deg) translate3d(0, 0, 0);
    transform: rotate(180deg) translate3d(0, 0, 0);
}
.pull-up .weui-pull-to-refresh-layer .up {
    display: inline-block;
}
.pull-down .weui-pull-to-refresh-layer .pull-to-refresh-arrow {
    display: inline-block;
}
.pull-down .weui-pull-to-refresh-layer .down {
    display: inline-block;
}
.refreshing .weui-pull-to-refresh-layer{

    -webkit-transition: .4s;
    transition: .4s;
    padding-top: 60px;
}
.refreshing .weui-pull-to-refresh-layer .pull-to-refresh-arrow {
    display: none;
}
.refreshing .weui-pull-to-refresh-layer .pull-to-refresh-preloader {
    display: inline-block;
}
.refreshing .weui-pull-to-refresh-layer .refresh {
    display: inline-block;
}

@keyframes preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.weui_tab_bd_item.weui-pull-to-refresh {
    position: absolute;
    top: 50px;
}
.weui-infinite-scroll {
    height: 24px;
    line-height: 24px;
    padding: 10px;
    text-align: center;
}
.weui-infinite-scroll .infinite-preloader {
    display: inline-block;
    margin-right: 4px;
    vertical-align: -4px;
    width: 20px;
    height: 20px;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: preloader-spin 1s steps(12, end) infinite;
    animation: preloader-spin 1s steps(12, end) infinite;
}
.weui-infinite-scroll .infinite-preloader:after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}

.friend{position: relative;font-size: 0.37037rem;width:100%;}
.friend .friend_list{margin:auto;text-align: center;}
.friend .friend_list img{width: 4rem;height: 4rem;border-radius: 50%;}
.friend .friend_list .photo {width:4rem;height:5rem;display: inline-block;}
.friend .friend_list p {width:4rem;height:1rem;}