<div class="helloView">
    <div class="page-hd" style="padding:10px 15px;">
        <p class="page-hd-desc" style="margin-top: 0px;">修改配送时间</p>
    </div>
    <div class="weui_cells weui_cells_access" style="margin-top: 0px;">
        <div class="weui_cell" style="height: 3.33rem;">
            <div class="weui_cell_hd" style="color:#888;"><label for="" class="weui_label">要将</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <span >{{keyForward.deliveryTime | date:"yyyy-MM-dd"}}</span>
            </div>
        </div>
        <div class="weui_cell" style="border-top: 1px solid #d9d9d9;height: 3.33rem;">
            <div class="weui_cell_hd" style="color:#888;"><label for="" class="weui_label">改为:</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" value="" id='d1'/>
            </div>
            <span class="weui_cell_ft"></span>
        </div>
    </div>
    <div class="page-bd-15" style="border-top: 1px solid #d9d9d9;height: 5.44rem;">
        <a  class="weui_btn bg-green" style="margin-top: 0.99rem;height:3.11rem;line-height: 3.22rem;width: 8.22rem" ng-click="changeDeliverDay()">确定</a>
    </div>
</div>