<div class="homeView">
    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_text">
                <div class="weui_media_title">送,Q17052110000000005_9</div><div style="position: absolute;top: 15px;right: 10px;color: #999;">{{-1 | number : 2}}</div>
                <div class="weui_media_desc">05-27 23:14</div><div class="weui_media_desc" style="position: absolute; top:50px;right: 10px;">付款成功</div>
            </div>
            <div class="weui_media_box weui_media_text">
                <div class="weui_media_title">送,Q17052110000000005_9</div><div style="position: absolute;top: 15px;right: 10px;color: #999;">{{-1 | number : 2}}</div>
                <div class="weui_media_desc">05-27 23:14</div><div class="weui_media_desc" style="position: absolute; top:50px;right: 10px;">付款成功</div>
            </div>
            <div class="weui_media_box weui_media_text">
                <div class="weui_media_title">送,Q17052110000000005_9</div><div style="position: absolute;top: 15px;right: 10px;color: #999;">{{-1 | number : 2}}</div>
                <div class="weui_media_desc">05-27 23:14</div><div class="weui_media_desc" style="position: absolute; top:50px;right: 10px;">付款成功</div>
            </div>
            <div class="weui_media_box weui_media_text">
                <div class="weui_media_title">送,Q17052110000000005_9</div><div style="position: absolute;top: 15px;right: 10px;color: #999;">{{-1 | number : 2}}</div>
                <div class="weui_media_desc">05-27 23:14</div><div class="weui_media_desc" style="position: absolute; top:50px;right: 10px;">付款成功</div>
            </div>
            <div class="weui_media_box weui_media_text">
                <div class="weui_media_title">送,Q17052110000000005_9</div><div style="position: absolute;top: 15px;right: 10px;color: #999;">{{-1 | number : 2}}</div>
                <div class="weui_media_desc">05-27 23:14</div><div class="weui_media_desc" style="position: absolute; top:50px;right: 10px;">付款成功</div>
            </div>
            <div class="weui_media_box weui_media_text">
                <div class="weui_media_title">送,Q17052110000000005_9</div><div style="position: absolute;top: 15px;right: 10px;color: #999;">{{-1 | number : 2}}</div>
                <div class="weui_media_desc">05-27 23:14</div><div class="weui_media_desc" style="position: absolute; top:50px;right: 10px;">付款成功</div>
            </div>
            <div class="weui_media_box weui_media_text">
                <div class="weui_media_title">送,Q17052110000000005_9</div><div style="position: absolute;top: 15px;right: 10px;color: #999;">{{-1 | number : 2}}</div>
                <div class="weui_media_desc">05-27 23:14</div><div class="weui_media_desc" style="position: absolute; top:50px;right: 10px;">付款成功</div>
            </div>
        </div>
    </div>
</div>