<div class="helloView">
    <div class="weui_cells weui-cells_form" style="margin-top: 0;">
        <div class="weui_cell" style="height: 3.888rem;line-height: 2.444rem;">
            <div class="weui_cell_bd weui_cell_primary" style="text-align: center;font-size: 1.222rem;">
                <p>服务详情</p>
            </div>
        </div>
        <div class="weui_cell" style="border-top: 1px solid #d9d9d9;height:3.33rem;font-size: 14px;">
            <div class="weui_cell_hd" style="width: 4.833rem;color: #888;"><label class="weui_label">服务次数：</label></div>
            <div class="weui_cell_bd weui_cell_primary" ng-bind="'第'+detail.id+'次 / '+detail.deliveryDay+' / 星期'+detail.day">
            </div>
        </div>
        <div class="weui_cell" style="border-top: 1px solid #d9d9d9;height:3.33rem;font-size: 14px;" ng-hide="type == '已完成'">
            <div class="weui_cell_hd" style="width: 4.833rem;color: #888;"><label class="weui_label">发货日期：</label></div>
            <div class="weui_cell_bd weui_cell_primary">
               {{detail.sendDate}}
            </div>
        </div>
        <div class="weui_cell" style="border-top: 1px solid #d9d9d9;height:3.33rem;font-size: 14px">
            <div class="weui_cell_hd" style="width: 4.833rem;color: #888;"><label class="weui_label">收货地址：</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                {{detail.address}}
            </div>
        </div>
        <div class="weui_cell" style="border-top: 1px solid #d9d9d9;height:3.33rem;font-size: 14px;">
            <div class="weui_cell_hd" style="width: 4.833rem;color: #888;"><label class="weui_label">物流信息：</label></div>
            <div class="weui_cell_bd weui_cell_primary" ng-bind="detail.expressCarrier+' '+detail.expressBill" ng-click="getExpressInfo()">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__bd" style="width: 300px">
                        <ul class="weui-uploader__files" id="imageFiles" >
                        </ul>
                        <div class="weui-uploader__input-box" ng-hide="detail.status != 'ORDER_FINISHED' || detail.buyerPhoto.length > 0">
                            <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page__bd">
        <div class="weui-gallery" id="gallery">
            <span class="weui-gallery__img" id="galleryImg"></span>
        </div>
    </div>
</div>
