<div class="homeView">
    <div class="weui_cells weui_cells_access" style="margin-top: 0;">
        <div class="weui_cell">
            <a href="javascript:void(0);" ui-sref="mineDetail({passportId:passport.passportId,token:passport.token})" ui-sref-active="active" class="weui_media_box weui_media_appmsg" style="width: 100%;">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb"  ng-src="{{passport.icon}}" alt="">
                </div>
                <div class="weui_media_bd">
                    <h4 class="weui_media_title" style="color: #7495b8;" ng-bind="passport.nickName">标题一</h4>
                    <span style="font-size: 0.8rem;">也豆</span><span style="margin-left: 2rem;font-size: 0.8rem;" ng-bind="mineData.yiBean"></span>
                </div>
                <span class="weui_cell_ft"></span>
            </a>
        </div>
    </div>
    <div class="weui_panel">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_small_appmsg">
                <div class="weui_cells weui_cells_access">
                    <a class="weui_cell" ui-sref="order.orderList" ui-sref-active="active">
                        <div class="weui_cell_hd" style="margin-left: 0.63rem;color: #888;"><i class="fa fa-file-text weui_home"></i></div>
                        <div class="weui_cell_bd weui_cell_primary" style="margin-left: 0.668rem;font-size: 14px;">
                            <p>我的订单</p>
                        </div>
                        <span class="weui_cell_ft"></span>
                    </a>
                </div>
            </div>
        </div>
        <!--
        <div class="weui_grids grids-small"  >
            <a href="javascript:;" class="grid">
                <div class="weui_grid_icon" style="text-align: center;">
                    <span style="color: #ff0000;font-weight: bold;" ng-bind="my.oderBrief.created"></span>
                </div>
                <p class="weui_grid_label">
                    待付款
                </p>
            </a>
            <a href="javascript:;" class="grid">
                <div class="weui_grid_icon" style="text-align: center;">
                    <span style="color: #04BE02;font-weight: bold;" ng-bind="my.oderBrief.paid"></span>
                </div>
                <p class="weui_grid_label">
                    服务中
                </p>
            </a>
            <a href="javascript:;" class="grid">
                <div class="weui_grid_icon" style="text-align: center;">
                    <span style="color: #10aeff;font-weight: bold;" ng-bind="my.oderBrief.finished"></span>
                </div>
                <p class="weui_grid_label">
                    已完成
                </p>
            </a>
            <a href="javascript:;" class="grid">
                <div class="weui_grid_icon" style="text-align: center;">
                    <span style="color: #ff0000;font-weight: bold;" ng-bind="my.oderBrief.unComment"></span>
                </div>
                <p class="weui_grid_label">
                    待评价
                </p>
            </a>
        </div>
        -->
    </div>
    <div class="weui_panel">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_small_appmsg">
                <div class="weui_cells weui_cells_access" style="height: 3.44rem;line-height: 2.22rem;">
                    <a class="weui_cell" ui-sref="order.qiusong" ui-sref-active="active">
                        <div class="weui_cell_hd" style="margin-left: 0.63rem;color: #888;"><i class="fa fa-gift weui_home"></i></div>
                        <div class="weui_cell_bd weui_cell_primary" style="margin-left: 0.668rem;font-size: 14px;">
                            <p>我的求送</p>
                        </div>
                        <span class="weui_cell_ft"></span>
                    </a>
                </div>
            </div>
        </div>
        <!--
        <div class="weui_grids grids-small"  >
            <a href="javascript:;" class="grid">
                <div class="weui_grid_icon" style="text-align: center;">
                    <span style="color: #ff0000;font-weight: bold;" ng-bind="my.grouponBrief.ing"></span>
                </div>
                <p class="weui_grid_label">
                    拼团中
                </p>
            </a>
            <a href="javascript:;" class="grid">
                <div class="weui_grid_icon" style="text-align: center;">
                    <span style="color: #04BE02;font-weight: bold;" ng-bind="my.grouponBrief.success"></span>
                </div>
                <p class="weui_grid_label">
                    已达成
                </p>
            </a>
            <a href="javascript:;" class="grid">
                <div class="weui_grid_icon" style="text-align: center;">
                    <span style="color: #10aeff;font-weight: bold;" ng-bind="my.grouponBrief.handled">4</span>
                </div>
                <p class="weui_grid_label">
                    已处理
                </p>
            </a>
        </div>
        -->
    </div>
    <div class="weui_panel">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_small_appmsg">
                <div class="weui_cells weui_cells_access" style="height: 3.44rem;line-height: 2.22rem;">
                    <a class="weui_cell" ui-sref="address" ui-sref-active="active">
                        <div class="weui_cell_hd" style="margin-left: 0.678rem;font-size: 25px;color: #888;"><i class="fa fa-map-marker"></i></div>
                        <div class="weui_cell_bd weui_cell_primary" style="margin-left: 0.668rem;font-size: 14px;">
                            <p>收货地址</p>
                        </div>
                        <span class="weui_cell_ft"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_panel">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_small_appmsg">
                <div class="weui_cells weui_cells_access" style="height: 3.44rem;line-height: 2.22rem;">
                    <a class="weui_cell" href="javascript:;">
                        <div class="weui_cell_hd" style="margin-left: 0.63rem;color: #888;"><i class="fa fa-whatsapp"></i></div>
                        <div class="weui_cell_bd weui_cell_primary" style="margin-left: 0.668rem;font-size: 14px;">
                            <p>联系客服</p>
                        </div>
                        <span class="weui_cell_ft"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_panel">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_small_appmsg">
                <div class="weui_cells weui_cells_access" style="height: 3.44rem;line-height: 2.22rem;">
                    <a class="weui_cell" href="javascript:void(0);" ng-click="dealDetail()" ui-sref-active="active">
                        <div class="weui_cell_hd" style="margin-left: 0.63rem;color: #888;"><i class="fa fa-bars" aria-hidden="true"></i></div>
                        <div class="weui_cell_bd weui_cell_primary" style="margin-left: 0.668rem;font-size: 14px;">
                            <p>交易明细</p>
                        </div>
                        <span class="weui_cell_ft"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>