<div class="homeView">
    <div class="weui_cells" style="margin-top: 0;">
        <div class="weui_cell" style="border-bottom: 1px solid #d9d9d9">
            <div class="weui_cell_bd weui_cell_primary">
                <p>也豆</p>
            </div>
            <div class="weui_cell_ft">10</div>
        </div>
        <div class="weui_cell" style="border-bottom: 1px solid #d9d9d9">
            <div class="weui_cell_bd weui_cell_primary">
                <p>保证金</p>
            </div>
            <div class="weui_cell_ft">100</div>
        </div>
        <div class="weui_cell" style="border-bottom: 1px solid #d9d9d9">
            <div class="weui_cell_bd weui_cell_primary">
                <p>余额</p>
            </div>
            <div class="weui_cell_ft"><a href="javascript:void(0);" class="weui_btn weui_btn_primary" style="height: 30px;line-height: 30px;font-size: 14px;">提现</a></div>
        </div>
    </div>
</div>