<div class="homeView">
    <div class="weui_cells" style="margin-top: 0;">
        <div class="weui_cell" style="border-bottom: 1px solid #d9d9d9">
            <div class="weui_cell_bd weui_cell_primary">
                <p>也豆</p>
            </div>
            <div class="weui_cell_ft" ng-bind="mineData.yiBean"></div>
        </div>
        <div class="weui_cell" style="border-bottom: 1px solid #d9d9d9">
            <div class="weui_cell_bd weui_cell_primary">
                <p>保证金</p>
            </div>
            <div class="weui_cell_ft" ng-bind="mineData.deposit"></div>
        </div>
        <div class="weui_cell" style="border-bottom: 1px solid #d9d9d9">
            <div class="weui_cell_bd weui_cell_primary">
                <p>余额</p>
            </div>
            <div class="weui_cell_ft" ng-bind="mineData.balance"></div>
        </div>
    </div>
    <div class="weui_cell" style="text-align:center;font-size: 18px;color:#ffffff; padding:0;margin-top: 10px;">

        <div class="weui_btn_primary" style="width:100%;border-radius:0px;height:3.33rem;line-height: 3.33rem;" ng-click="draw()">提现</div>
    </div>
</div>