<div class="homeView">

    <div class="weui_cells weui_cells_access" style="margin-top: 0px;border-bottom: 0;">
        <div class="weui_cell" style="font-size: 14px;">
            <div class="weui_cell_bd weui_cell_primary">
                <p style="color: #888;" ng-bind="qiusong.status"></p>
            </div>
            <div style="color: #888;">发起时间：<span style="float:right" >{{qiusong.createTime | date:"yyyy-MM-dd hh:mm:ss"}}</span></div>
        </div>
    </div>
    <div class="weui_grids grids-small" style="background: #ffffff;">
        <div href="javascript:void(0);" class="grid" style="padding:0;width:25%;color: #04BE02;" >
            <div class="weui_grid_icon">
                <span class="icon icon-34" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #04BE02;">
                发起
            </p>
        </div>
        <div href="javascript:void(0);" class="grid" style="width: 12.5%;color: #04BE02;">
            <div class="weui_grid_icon">
                <span class="icon icon-108" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px">
            </p>
        </div>
        <div href="javascript:void(0);" class="grid" style="padding:0;width: 25%;color: #04BE02;" >
            <div class="weui_grid_icon">
                <span class="icon icon-3" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #04BE02;">
                分享
            </p>
        </div>
        <div href="javascript:void(0);" ng-if="qiusong.status == '求送中'" class="grid" style="width: 12.5%;color: #9E9E9E;">
            <div class="weui_grid_icon">
                <span class="icon icon-108" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px">
            </p>
        </div>
        <div href="javascript:void(0);" ng-if="qiusong.status != '求送中'" class="grid" style="width: 12.5%;color: #04BE02;">
            <div class="weui_grid_icon">
                <span class="icon icon-108" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px">
            </p>
        </div>
        <div href="javascript:void(0);" ng-if="qiusong.status == '求送中'" class="grid" style="padding:0;width: 25%;color: #9E9E9E;" >
            <div class="weui_grid_icon">
                <span class="icon icon-71" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #9E9E9E;">
                完成
            </p>
        </div>
        <div href="javascript:void(0);" class="grid" ng-if="qiusong.status != '求送中'" style="padding:0;width: 25%;color: #04BE02;" >
            <div class="weui_grid_icon">
                <span class="icon icon-70" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #04BE02;">
                完成
            </p>
        </div>
    </div>
    <div class="weui_panel weui_panel_access">

        <div class="weui_panel_bd" style="border-bottom: 1px solid #d9d9d9;">
            <div class="weui_media_box weui_media_appmsg">
                <div class="weui_cell_hd">
                    <img style="width:80px;height:80px;margin-right:5px;display:block" ng-src="{{qiusong.skuBriefDto.thumbnail}}" alt="">
                </div>
                <div class="weui_media_bd">
                    <table border="0" style="width: 100%;margin-left: 8px;color:#888;font-size:0.755rem;">
                        <tr style="height: 35px;font-size: 0.875rem;color: #000;">
                            <td ng-bind="qiusong.skuBriefDto.title"></td>
                        </tr>
                        <tr style="height: 25px;">
                            <td><span ng-bind="qiusong.skuBriefDto.payDescription"></span></td>
                        </tr>
                        <tr style="height: 25px;">
                            <td>价格：￥<span ng-bind="qiusong.skuBriefDto.price"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">商品求送人：<span style="float: right;color: #0d0d0d;" >{{qiusong.sponsorName}}</span></div>
    </div>
    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">活动编号：<span style="float: right;color: #0d0d0d;">{{qiusong.seriaNumber}}</span></div>
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">商品总额：<span style="float: right;color: #0d0d0d;" ng-bind="'￥' + qiusong.targetAmount "></span></div>
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">参与人数：<span style="float: right;color: #0d0d0d;" ng-bind="qiusong.memberCount"></span></div>
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">求送金额：<span style="float: right;color: #09BB07;" ng-bind="'￥' + qiusong.unitAmount"></span></div>
    </div>

    <div class="weui_cells weui_cells_access" ng-if="qiusong.memberList.size > 0" style="margin-top: 10px;">
        <div class="weui_cell" style="text-align: center">
            <div class="friend">
                <div class="friend_list">
                    <div class="photo" ng-repeat="sponsor in qiusong.memberList">
                        <img ng-src="{{sponsor.icon}}"><span ng-bind="sponsor.nickName"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>