<div class="homeView" style="overflow-x: hidden;">
    <div class="weui_grids grids-small" style="background: #ffffff;">
        <div href="javascript:void(0);" class="grid" style="padding:0;width:25%;color: #04BE02;" >
            <div class="weui_grid_icon">
                <span class="icon icon-34" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #04BE02;">
                发起
            </p>
        </div>
        <div href="javascript:void(0);" class="grid" style="width: 12.5%;color: #04BE02;">
            <div class="weui_grid_icon">
                <span class="icon icon-108" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px">
            </p>
        </div>
        <div href="javascript:void(0);" class="grid" style="padding:0;width: 25%;color: #04BE02;" >
            <div class="weui_grid_icon">
                <span class="icon icon-3" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #04BE02;">
                分享
            </p>
        </div>
        <div href="javascript:void(0);" ng-if=" !(qiusong.status == 'SUCCESSED' || qiusong.status == 'SETTLED')" class="grid" style="width: 12.5%;color: #9E9E9E;">
            <div class="weui_grid_icon">
                <span class="icon icon-108" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px">
            </p>
        </div>
        <div href="javascript:void(0);" ng-if=" qiusong.status == 'SUCCESSED' || qiusong.status == 'SETTLED'" class="grid" style="width: 12.5%;color: #04BE02;">
            <div class="weui_grid_icon">
                <span class="icon icon-108" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px">
            </p>
        </div>
        <div href="javascript:void(0);" ng-if=" !(qiusong.status == 'SUCCESSED' || qiusong.status == 'SETTLED')" class="grid" style="padding:0;width: 25%;color: #9E9E9E;" >
            <div class="weui_grid_icon">
                <span class="icon icon-71" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #9E9E9E;">
                完成
            </p>
        </div>
        <div href="javascript:void(0);" class="grid" ng-if="qiusong.status == 'SUCCESSED' || qiusong.status == 'SETTLED'" style="padding:0;width: 25%;color: #04BE02;" >
            <div class="weui_grid_icon">
                <span class="icon icon-70" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #04BE02;">
                完成
            </p>
        </div>
    </div>

    <div class="weui_panel weui_panel_access" style="margin-top: 0px;">
        <div class="weui_panel_hd" style="font-size: 16px;">
            <div style="color: #888;">
                <div class="photo" style="float: left;">
                    <img style="width: 4rem;height: 4rem;border-radius: 50%;" ng-src="{{qiusong.sponsorIcon}}">
                </div>
                <div style="float: left;margin-left: 10px;width: 75%;" ng-bind="qiusong.sponsorName + '需要以下商品，而发起了求送活动, 邀请您参与'"></div>
            </div>
        </div>
    </div>

    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_bd">
            <div class="weui_media_box weui_media_appmsg">
                <div class="weui_cell_hd">
                    <img style="width:80px;height:80px;margin-right:5px;display:block" ng-src="{{qiusong.skuBriefDto.thumbnail}}" alt="">
                </div>
                <div class="weui_media_bd">
                    <table border="0" style="width: 100%;margin-left: 8px;color:#888;font-size:0.755rem;">
                        <tr style="height: 35px;font-size: 0.875rem;color: #000;">
                            <td ng-bind="qiusong.skuBriefDto.title"></td>
                        </tr>
                        <tr style="height: 25px;">
                            <td><span ng-bind="qiusong.skuBriefDto.payDescription"></span></td>
                        </tr>
                        <tr style="height: 25px;">
                            <td>价格：￥<span ng-bind="qiusong.skuBriefDto.price"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">活动编号：<span style="float: right;color: #0d0d0d;">{{qiusong.serialNumber}}</span></div>
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">商品价格：<span style="float: right;color: #0d0d0d;" ng-bind="'￥' + qiusong.targetAmount"></span></div>
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">求送金额：<span style="float: right;color: #09BB07;" ng-bind="'￥' + qiusong.unitAmount + '/次'"></span></div>
    </div>

    <div class="weui_cells" ng-if="qiusong.memberList.length > 0" style="margin-top: 10px;">
        <div class="weui_cell" style="text-align: center">
            <div class="friend">
                <div class="friend_list">
                    <div class="photo" ng-repeat="sponsor in qiusong.memberList">
                        <img ng-src="{{sponsor.icon}}">
                        <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;" ng-if="sponsor.times > 1" ng-bind="'x' + sponsor.times"></span>
                        <span ng-bind="sponsor.nickName"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="weui_cells weui_cells_access" ng-if="!userFlag">
        <div class="weui_cell" style="text-align:center;font-size: 18px;color:#ffffff; padding:0;">
            <div class="weui_btn_primary" ng-click="toQiusong();" style="width:30%;border-radius:0px;height:3.33rem;line-height: 3.33rem;background-color:#666666">求送</div>
            <div class="weui_btn_primary" ng-click="doParticipate();" style="width:70%;border-radius:0px;height:3.33rem;line-height: 3.33rem;">确定参与</span></div>
        </div>
    </div>
</div>