<div class="homeView">

    <div class="weui_cells weui_cells_access" style="margin-top: 0px;border-bottom: 0;">
        <div class="weui_cell" style="font-size: 14px;">
            <div class="weui_cell_bd weui_cell_primary">
                <p style="color: #888;" ng-bind="qiusong.statusView"></p>
            </div>
            <div style="color: #888;"><span style="float:right" >发起时间：{{qiusong.createTime | date:"yyyy-MM-dd hh:mm:ss"}}</span></div>
        </div>
    </div>
    <div class="weui_grids grids-small" style="background: #ffffff;">
        <div href="javascript:void(0);" class="grid" style="padding:0;width:25%;color: #04BE02;" >
            <div class="weui_grid_icon">
                <span class="icon icon-34" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #04BE02;">
                发起
            </p>
        </div>
        <div href="javascript:void(0);" class="grid" style="width: 12.5%;color: #04BE02;">
            <div class="weui_grid_icon">
                <span class="icon icon-108" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px">
            </p>
        </div>
        <div href="javascript:void(0);" class="grid" style="padding:0;width: 25%;color: #04BE02;" >
            <div class="weui_grid_icon">
                <span class="icon icon-3" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #04BE02;">
                分享
            </p>
        </div>
        <div href="javascript:void(0);" ng-if=" !(qiusong.status == 'SUCCESSED' || qiusong.status == 'SETTLED')" class="grid" style="width: 12.5%;color: #9E9E9E;">
            <div class="weui_grid_icon">
                <span class="icon icon-108" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px">
            </p>
        </div>
        <div href="javascript:void(0);" ng-if=" qiusong.status == 'SUCCESSED' || qiusong.status == 'SETTLED'" class="grid" style="width: 12.5%;color: #04BE02;">
            <div class="weui_grid_icon">
                <span class="icon icon-108" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px">
            </p>
        </div>
        <div href="javascript:void(0);" ng-if=" !(qiusong.status == 'SUCCESSED' || qiusong.status == 'SETTLED')" class="grid" style="padding:0;width: 25%;color: #9E9E9E;" >
            <div class="weui_grid_icon">
                <span class="icon icon-71" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #9E9E9E;">
                完成
            </p>
        </div>
        <div href="javascript:void(0);" class="grid" ng-if="qiusong.status == 'SUCCESSED' || qiusong.status == 'SETTLED'" style="padding:0;width: 25%;color: #04BE02;" >
            <div class="weui_grid_icon">
                <span class="icon icon-70" style="font-size: 30px;"></span>
            </div>
            <p class="weui_grid_label" style="margin-top: 25px;margin-bottom: 10px;color: #04BE02;">
                完成
            </p>
        </div>
    </div>
    <div class="weui_panel weui_panel_access">

        <div class="weui_panel_bd" style="border-bottom: 1px solid #d9d9d9;position: relative;" ng-click="toItem(qiusong.skuBriefDto.goodsId)">
            <div class="weui_media_box weui_media_appmsg">
                <div class="weui_cell_hd">
                    <img style="width:80px;height:80px;margin-right:5px;display:block" ng-src="{{qiusong.skuBriefDto.thumbnail}}!small" alt="">
                </div>
                <div class="weui_media_bd">
                    <table border="0" style="width: 100%;margin-left: 8px;color:#888;font-size:0.755rem;">
                        <tr style="height: 35px;font-size: 0.875rem;color: #000;">
                            <td ng-bind="qiusong.skuBriefDto.title"></td>
                        </tr>
                        <tr style="height: 25px;">
                            <td><span ng-bind="qiusong.skuBriefDto.payDescription"></span></td>
                        </tr>
                        <tr style="height: 25px;">
                            <td>价格：￥<span ng-bind="qiusong.skuBriefDto.price"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="yzDiv" ng-if="qiusong.statusView != '求送中'">
                <div class="yzChildDiv" ng-bind="qiusong.statusView"></div>
            </div>
        </div>

    </div>
    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">商品求送人：<span style="float: right;color: #0d0d0d;" >{{qiusong.sponsorName}}</span></div>
    </div>
    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">活动编号：<span style="float: right;color: #0d0d0d;">{{qiusong.serialNumber}}</span></div>
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">商品价格：<span style="float: right;color: #0d0d0d;" ng-bind="'￥' + qiusong.targetAmount "></span></div>
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">求送金额：<span style="float: right;color: #0d0d0d;" ng-bind="'￥' + qiusong.unitAmount + '/次'"></span></div>
    </div>

    <div ng-if="qiusong.sponsorId == passport.passportId" class="weui_cells weui_cells_access" style="margin-top: 10px;">
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">实收金额：<span style="float: right;color: #09BB07;">￥{{qiusong.amount}}</span></div>
        <div ng-if="qiusong.status == 'SETTLED'" class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">结算金额：<span style="float: right;color: #09BB07;">￥{{qiusong.amount}}</span></div>
        <div ng-if="qiusong.status == 'SETTLED'" class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">结算方式：<span style="float: right;color: #0d0d0d;">{{qiusong.settleTypeView}}</span></div>
    </div>
    <div ng-if="qiusong.sponsorId != passport.passportId" class="weui_cells weui_cells_access" style="margin-top: 10px;">
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">已送金额：<span style="float: right;color: #09BB07;">￥{{qiusong.unitAmount * qiusong.paidTimes}}</span></div>
    </div>



    <div ng-if="qiusong.memberList.length > 0" class="weui_cells weui_cells_access"  style="margin-top: 10px;">
        <div class="weui_cell" style="text-align: center">
            <div class="friend">
                <div class="friend_list">
                    <div class="photo" ng-repeat="sponsor in qiusong.memberList">
                        <img ng-src="{{sponsor.icon}}">
                        <span class="weui-badge" style="position: absolute;top: -.4em;right: -.4em;" ng-if="sponsor.times > 1" ng-bind="'x' + sponsor.times"></span>
                        <span ng-bind="sponsor.nickName"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="qiusong.sponsorId == passport.passportId && qiusong.status == 'SUCCESSED'" class="weui_cells weui_cells_access" style="margin-top: 10px;">
        <div class="weui_cell" > 中止, 意味着求送的商品不能满足您现在的需求，中止后，可提现。平台扣除10%的保证金，在下次任意购买时, 按支付总额10%的比例抵扣现金。</div>

        <div class="weui_cell"> 下单结算，意味着确定购物并结清。余额部分也适用中止条款。</div>
        <div style="height:60px"> </div>
    </div>

    <div ng-if="qiusong.sponsorId == passport.passportId && qiusong.status == 'SUCCESSED'" class="weui_panel_hd weui_bottomBtn" style="text-align:center;font-size: 18px;color:#ffffff; padding:0;">
        <div class="weui_btn_primary" ng-click="abort(qiusong)" style="width:30%;border-radius:0px;height:3.33rem;line-height: 3.33rem;background-color:#666666">中止</div>
        <div class="weui_btn_primary" ng-click="settle(qiusong);" style="width:70%;border-radius:0px;height:3.33rem;line-height: 3.33rem;">下单结算</span></div>
    </div>

    <div ng-if="qiusong.sponsorId == passport.passportId && qiusong.status == 'ING'">
        <div style="height:2.00rem;line-height: 2.00rem;"></div>
    <div  class="weui_panel_hd" style="text-align:center;font-size: 18px;color:#ffffff; padding:0;border-radius:0px;height:3.33rem;line-height: 3.33rem;background-color:#666666" ui-sref="order.qiusong">
        返回列表
    </div>
    </div>

</div>