<div class="homeView">

    <div class="weui_cells weui_cells_access" style="margin-top: 0px;">
        <div class="weui_cell" style="font-size: 14px;">
            <div class="weui_cell_bd weui_cell_primary">
                <p style="color: #888;" ng-bind="qiusongDetailsView.statusView"></p>
            </div>
            <div style="color: #888;">下单时间：<span style="float:right" >{{qiusongDetailsView.createTime | date:"yyyy-MM-dd hh:mm:ss"}}</span></div>
        </div>
    </div>
    <div class="weui_panel weui_panel_access">

        <div class="weui_panel_bd" style="border-bottom: 1px solid #d9d9d9;">
            <div class="weui_media_box weui_media_appmsg">
                <div class="weui_cell_hd">
                    <img style="width:80px;height:80px;margin-right:5px;display:block" ng-src="{{qiusongDetailsView.skuBriefDto.thumbnail}}" alt="">
                </div>
                <div class="weui_media_bd">
                    <table border="0" style="width: 100%;margin-left: 8px;color:#888;font-size:0.755rem;">
                        <tr style="height: 35px;font-size: 0.875rem;color: #000;">
                            <td ng-bind="qiusongDetailsView.skuBriefDto.title"></td>
                        </tr>
                        <tr style="height: 25px;">
                            <td><span ng-bind="qiusongDetailsView.skuBriefDto.payDescription"></span></td>
                        </tr>
                        <tr style="height: 25px;">
                            <td>价格：￥<span ng-bind="qiusongDetailsView.skuBriefDto.price"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;color:#000;">商品求送人：<span style="float: right;color: #0d0d0d;" >{{qiusongDetailsView.sponsorName}}</span></div>
    </div>
    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;">支付单号：<span style="float: right;color: #0d0d0d;" ng-bind="qiusongDetailsView.pr"></span></div>
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;">商品价格：<span style="float: right;color: #0d0d0d;" ng-bind="'￥' + qiusongDetailsView.targetAmount "></span></div>
        <div class="weui_panel_hd" style="font-size: 14px;border-bottom: 1px solid #d9d9d9;">支付金额：<span style="float: right;color: #09BB07;" ng-bind="'￥' + qiusongDetailsView.unitAmount + '/次'" ></span></div>
    </div>

    <div class="weui_btn_area ">

    </div>

    <div class="weui_cell" style="text-align:center;font-size: 18px;color:#ffffff; padding:0;">
        <div class="weui_btn_primary" ng-click="toQiusongList()" style="width:30%;border-radius:0px;height:3.33rem;line-height: 3.33rem;background-color:#666666">稍候</div>
        <div class="weui_btn_primary" ng-click="toWxPay(qiusongDetailsView);" style="width:70%;border-radius:0px;height:3.33rem;line-height: 3.33rem;">立即支付</span></div>
    </div>
</div>